<a href="" class="blog-card">
    <div class="blog-card__top">
        <img data-src="@@img" alt="Картинка статьи" title="Картинка статьи" loading="lazy">
    </div>
    <div class="blog-card__bottom">
        <h4 class="blog-card__title">Утепление прижимной стропила у фронтона</h4>
        <p class="blog-card__desc">Лучше производить сразу во время монтажа кровли или позже при утеплении крыши, но уже</p>
        <div class="blog-card__nav">
            <div class="blog-card__link btn-link">
                <span>Подробнее</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6C18 5.44771 17.5523 5 17 5L8 5C7.44772 5 7 5.44771 7 6C7 6.55228 7.44772 7 8 7L16 7L16 15C16 15.5523 16.4477 16 17 16C17.5523 16 18 15.5523 18 15L18 6ZM6.70711 17.7071L17.7071 6.70711L16.2929 5.29289L5.29289 16.2929L6.70711 17.7071Z" fill="#8AC15D"/>
                </svg>
            </div>
            <span class="blog-card__date">10.03.2022</span>
        </div>
    </div>
</a>