<a href="" class="feedback-card">
    <div class="feedback-card__top">
        <img src="@@img" alt="Картинка отзыва" title="Картинка отзыва">
        <button class="feedback-card__play btn">
            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.333 9.93464C21.6663 10.7044 21.6663 12.6289 20.333 13.3987L3.833 22.925C2.49967 23.6948 0.833007 22.7326 0.833007 21.193L0.833008 2.1404C0.833008 0.600804 2.49967 -0.361445 3.83301 0.408356L20.333 9.93464Z" fill="#FFDF8B"></path>
            </svg>
        </button>
    </div>
    <div class="feedback-card__bottom">
        <div class="feedback-card__info">
            <div class="feedback-card__title">
                <img src="img/youtube.svg" alt="Youtube" title="Youtube">
                <span>Дом из клееного бруса - отзыв в офисе компании АПС ДСК</span>
            </div>
            <div class="feedback-card__name">Имя Фиамилия</div>
            <div class="feedback-card__date">10. 02. 2022</div>
        </div>
    </div>
</a>