<div class='consult__inner'>
    <div class="consult__left">
        <div class="consult__title">ХОТИТЕ ОБСУДИТЬ ПРОЕКТ?</div>
        <div class="consult__desc">МЫ ОТВЕТИМ НА ВСЕ ВАШИ ВОПРОСЫ И ПОМОЖЕМ С ВЫБОРОМ ОПТИМАЛЬНОГО ВАРИАНТА</div>
        <button class="consult__btn btn btn-yellow-outline" data-modal-target="modal1">
        <span>Оставить заявку</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6C18 5.44771 17.5523 5 17 5L8 5C7.44772 5 7 5.44771 7 6C7 6.55228 7.44772 7 8 7L16 7L16 15C16 15.5523 16.4477 16 17 16C17.5523 16 18 15.5523 18 15L18 6ZM6.70711 17.7071L17.7071 6.70711L16.2929 5.29289L5.29289 16.2929L6.70711 17.7071Z" fill="white"></path>
        </svg>
    </button>
    </div>
    <img src="img/man2.webp" alt="Дед" title="Дед" class="consult__img">
    <!-- <img src="img/man3.webp" alt="" class="consult__img2"> -->
    <div class="consult__hint">
        <div class="consult__hint-title">Вы можете побывать на наших объектах</div>
        <div class="consult__hint-desc">и увидеть качество материала и работы воочию</div>
        <a href="" class="consult__hint-link">Смотреть объекты</a>
    </div>
</div>