<div class='consult2__inner'>
    <div class="consult2__title title2-bold">@@title</div>
    <div class="consult2__desc">@@desc</div>
    <form action="" class="consult2__form validate-form">
        <div class="consult2__form-grid">
            <fieldset class='consult2__form-group form-group form-group--noborder'>
                <input type='text' />
                <label>Ваше имя</label>
            </fieldset>
            <fieldset class='consult2__form-group form-group form-group--noborder'>
                <input type='tel' class="required" />
                <label>Ваш телефон *</label>
                <span class="form-group__error-text">это поле обязательно</span>
            </fieldset>
            <fieldset class='consult2__form-group form-group form-group--noborder'>
                <input type='text' />
                <label>Ваша почта</label>
            </fieldset>
            <div class="consult2__check check">
                <input checked type='checkbox' class='checkbox' id='c' />
                <label for='c'>
                    Я согласен на обработку 
                    <a href="">персональных данных</a>
                </label>
            </div>
            <button type="submit" class="consult2__btn btn btn-black">
                <span>Оставить заявку</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 5.99994C18 5.44765 17.5523 4.99994 17 4.99994L8 4.99994C7.44772 4.99994 7 5.44765 7 5.99994C7 6.55222 7.44772 6.99994 8 6.99994L16 6.99994L16 14.9999C16 15.5522 16.4477 15.9999 17 15.9999C17.5523 15.9999 18 15.5522 18 14.9999L18 5.99994ZM6.70711 17.707L17.7071 6.70704L16.2929 5.29283L5.29289 16.2928L6.70711 17.707Z" fill="white"></path>
                </svg>
            </button>

        </div>

    </form>
</div>