<div class='container'>
    <div class='index-feedback__inner'>
        <div class="index-feedback__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='index-feedback__item swiper-slide'>
                        <div class="index-feedback__name">Александр Михайлович</div>
                        <a href="" class="index-feedback__social">@ssilana otziv</a>
                        <div class="index-feedback__text">Строительство дома – великое событие в жизни, как и рождение человека. Мечтали, планировали, копили средства, переживали, надеялись… Нас поймет каждый, кто это испытывал. Месяцами сидели в интернете и читали о строительных компаниях.
                            Остановились на «Деде Лесовике». Сердцем почувствовали особую простоту и самобытность. Связались с директором компании Евгением. По нашим рисункам он спроектировал нам дом, которого не было в каталоге. Большое ему СПАСИБО!
                            </div>
                    </div>
                    <div class='index-feedback__item swiper-slide'>
                        <div class="index-feedback__name">Александр Михайлович</div>
                        <a href="" class="index-feedback__social">@ssilana otziv</a>
                        <div class="index-feedback__text">Строительство дома – великое событие в жизни, как и рождение человека. Мечтали, планировали, копили средства, переживали, надеялись… Нас поймет каждый, кто это испытывал. Месяцами сидели в интернете и читали о строительных компаниях.
                            Остановились на «Деде Лесовике». Сердцем почувствовали особую простоту и самобытность. Связались с директором компании Евгением. По нашим рисункам он спроектировал нам дом, которого не было в каталоге. Большое ему СПАСИБО!
                            </div>
                    </div>
                    <div class='index-feedback__item swiper-slide'>
                        <div class="index-feedback__name">Александр Михайлович</div>
                        <a href="" class="index-feedback__social">@ssilana otziv</a>
                        <div class="index-feedback__text">Строительство дома – великое событие в жизни, как и рождение человека. Мечтали, планировали, копили средства, переживали, надеялись… Нас поймет каждый, кто это испытывал. Месяцами сидели в интернете и читали о строительных компаниях.
                            Остановились на «Деде Лесовике». Сердцем почувствовали особую простоту и самобытность. Связались с директором компании Евгением. По нашим рисункам он спроектировал нам дом, которого не было в каталоге. Большое ему СПАСИБО!
                            </div>
                    </div>
                    <div class='index-feedback__item swiper-slide'>
                        <div class="index-feedback__name">Александр Михайлович</div>
                        <a href="" class="index-feedback__social">@ssilana otziv</a>
                        <div class="index-feedback__text">Строительство дома – великое событие в жизни, как и рождение человека. Мечтали, планировали, копили средства, переживали, надеялись… Нас поймет каждый, кто это испытывал. Месяцами сидели в интернете и читали о строительных компаниях.
                            Остановились на «Деде Лесовике». Сердцем почувствовали особую простоту и самобытность. Связались с директором компании Евгением. По нашим рисункам он спроектировал нам дом, которого не было в каталоге. Большое ему СПАСИБО!
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='index-feedback__nav swiper-pagination'></div>
        <a href="" class="index-feedback__link btn-link">
            <span>Смотреть все отзывы </span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6C18 5.44771 17.5523 5 17 5L8 5C7.44772 5 7 5.44771 7 6C7 6.55228 7.44772 7 8 7L16 7L16 15C16 15.5523 16.4477 16 17 16C17.5523 16 18 15.5523 18 15L18 6ZM6.70711 17.7071L17.7071 6.70711L16.2929 5.29289L5.29289 16.2929L6.70711 17.7071Z" fill="#FFDF8B"/>
        </svg>
        </a>
    </div>
</div>