<section class='footer-top'>
    <div class='container'>
        <div class='footer-top__inner'>
            <div class="footer__col">
                <div class="footer__title">Проекты</div>
                <a href="" class="footer__link">Все проекты домов</a>
                <a href="" class="footer__link">Дома из бруса</a>
                <a href="" class="footer__link">Бани из бруса</a>
                <a href="" class="footer__link">Галерея</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">Услуги</div>
                <a href="" class="footer__link">Фундаментные работы</a>
                <a href="" class="footer__link">Сборка сруба </a>
                <a href="" class="footer__link">Черновая отделка</a>
                <a href="" class="footer__link">Чистовая отделка</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">О компании</div>
                <a href="" class="footer__link">О нас</a>
                <a href="" class="footer__link">Команда</a>
                <a href="" class="footer__link">Отзывы</a>
                <a href="" class="footer__link">Блог</a>
            </div>
            <div class="footer__col">
                <div class="footer__socials">
                    <!-- <a href="" class="footer__socials-item">
                        <img src="img/instagram.svg" alt="Инстаграм" title="Инстаграм">
                    </a> -->
                    <a href="" class="footer__socials-item">
                        <img src="img/vk.svg" alt="Вконтакте" title="Вконтакте">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/telegram.svg" alt="Телеграм" title="Телеграм">
                    </a>
                </div>
                <div class="footer__contacts">
                    <a href="tel:+7 (495) 001-39-45" class="footer__phone">+7 (495) 001-39-45</a>
                    <a href="mailto:info@ded-lesovik.ru" class="footer__mail">info@ded-lesovik.ru</a>
                    <div class="footer__whatsapp">
                        Написать в
                        <a href="">
                            WHATSAPP
                        </a>
                    </div>
                </div>
                <button class="footer__btn btn btn-yellow-outline" data-modal-target="modal1">
                    <span>Оставить заявку</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6C18 5.44771 17.5523 5 17 5L8 5C7.44772 5 7 5.44771 7 6C7 6.55228 7.44772 7 8 7L16 7L16 15C16 15.5523 16.4477 16 17 16C17.5523 16 18 15.5523 18 15L18 6ZM6.70711 17.7071L17.7071 6.70711L16.2929 5.29289L5.29289 16.2929L6.70711 17.7071Z" fill="white"></path>
                    </svg>
                </button>
                <div class="footer__address">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2.1377C8.135 2.1377 5 5.2727 5 9.1377C5 14.3877 12 22.1377 12 22.1377C12 22.1377 19 14.3877 19 9.1377C19 5.2727 15.865 2.1377 12 2.1377ZM12 11.6377C10.62 11.6377 9.5 10.5177 9.5 9.1377C9.5 7.7577 10.62 6.6377 12 6.6377C13.38 6.6377 14.5 7.7577 14.5 9.1377C14.5 10.5177 13.38 11.6377 12 11.6377Z" fill="#FFDF8B"/>
                    </svg>
                    <span>г. Москва, БЦ "Теплый стан",  ул. Генерала Тюленева, д.4А, стр. 3</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='footer-bottom'>
    <div class='container'>
        <div class='footer-bottom__inner'>
            <div class="footer__link2">
                <a href="">Политика конфиденциальности</a> ДЕД ЛЕСОВИК © 2006-2022
            </div>
            <div class="footer__link2">
                Представленные цены на сайте не являются публичной офертой
            </div>
            <div class="footer__link2">
                Разработка сайта
                <a href="">WEBREFORMA</a>
            </div>
        </div>
    </div>
</section>

<button class="scroll-up btn">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.7071 7.91747C15.3166 7.52695 14.6834 7.52695 14.2929 7.91747L7.92893 14.2814C7.53841 14.672 7.53841 15.3051 7.92893 15.6956C8.31946 16.0862 8.95262 16.0862 9.34315 15.6956L15 10.0388L20.6569 15.6956C21.0474 16.0862 21.6805 16.0862 22.0711 15.6956C22.4616 15.3051 22.4616 14.672 22.0711 14.2814L15.7071 7.91747ZM16 22L16 8.62458L14 8.62458L14 22L16 22Z" fill="#3B3938"/>
    </svg>
</button>