<div class="pdf-footer__top">
    <div class="pdf-footer__num">@@num</div>
</div>

<div class="pdf-footer__bottom">
    <div class="pdf-footer__left">
        <div class="pdf-footer__subtitle">Проект дома</div>
        <div class="pdf-footer__title">Александра</div>
    </div>
    <div class="pdf-footer__center">
        <div class="pdf-footer__like">Любите свой дом!</div>
        <img src="img/pdf-logo.svg" alt="">
    </div>
    <div class="pdf-footer__right">
        <a href="tel:+79167364086" class="pdf-footer__phone">+7 (916) 736-40-86</a>
        <a href="mailto:info@ded-lesovik.ru" class="pdf-footer__mail">info@ded-lesovik.ru</a>
    </div>
</div>